$white: #fff;
$body: #f7f5f5;
$red: #ff000e;
$violet: #eb73fb;
$blue: #002ff7;
$lightBlue: #02e5ff;
$gradient: linear-gradient(45deg, $red, $violet, $blue, $lightBlue);
$green: #02d43a;
$gray: #eff2f5;
$black: #000;
$darkViolet: #e34ff6;
$lightViolet: #e88ef6;
