@use "../../styles/colors" as colors;

.promotedSpot {
  background: linear-gradient(colors.$body, colors.$body) padding-box,
    linear-gradient(
        45deg,
        colors.$red,
        colors.$violet,
        colors.$blue,
        colors.$lightBlue
      )
      border-box;
  border-radius: 25px;
  border: 3px solid transparent;
  padding: 10px;
}

.greenText {
  color: colors.$green;
  font-weight: bolder;
  font-size: 125%;
}

.text {
  font-weight: bolder;
  font-size: 125%;
}
